@import '~antd/dist/antd.css';
.TestOak {
  text-align: center;
}

.TestOak-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .TestOak-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.TestOak-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-size: calc(10px + 2vmin);
}

.TestOak-link {
  color: #61dafb;
}

@keyframes TestOak-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
