@import '~antd/dist/antd.css';
.TestContribute {
  text-align: center;
}

.TestContribute-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .TestContribute-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.TestContribute-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-size: calc(10px + 2vmin);
}

.TestContribute-link {
  color: #61dafb;
}

@keyframes TestContribute-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
