@import '~antd/dist/antd.css';
.TestContribute {
  text-align: center;
}

.TestContribute-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .TestContribute-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.TestContribute-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TestContribute-link {
  color: #61dafb;
}

.TestContribute-test-button {
  margin-bottom: 10px;
}

@keyframes TestContribute-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
