@import '~antd/dist/antd.css';
.TestBifrost {
  text-align: center;
}

.TestBifrost-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .TestBifrost-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.TestBifrost-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-size: calc(10px + 2vmin);
}

.TestBifrost-link {
  color: #61dafb;
}

@keyframes TestBifrost-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
